@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(235, 175, 175, 0.774);
}

/*Navegador*/
nav{
    width: 100%;
    text-align: center;
    background-color: rgb(189, 45, 45);
    z-index: 1em;

}
nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
/*Lista del menú*/
ul{
    list-style: none;
}
/*COSAS MÍAS*/
.indent-small {
    margin-left: 5px;
  }
  .form-group.internal {
    margin-bottom: 0;
  }
  .dialog-panel {
    margin: 10px;
  }
  .datepicker-dropdown {
    z-index: 200 !important;
  }
  .panel-body {
    background: #e5e5e5;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #e5e5e5 0%, #ffffff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    font: 600 15px "Open Sans", Arial, sans-serif;
  }
  label.control-label {
    font-weight: 600;
    color: #777;
  }

 
  





